.addvideo{
    padding: 4rem 0rem;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.addvideo-top{
    padding-bottom: 2rem;
}


.addvideo>form{
    /* min-width: 70%; */
    /* margin-top: 5rem; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.addvideo>form>h1{
    margin-bottom: 1rem;
}

.addvideo>form>input{
    border-radius: 8px;
    margin-top: 0.8rem;
    padding: 0 0.6rem;
    height: 2.2rem;
    width: 18rem;
}

.addvideo>form>select{
    border-radius: 8px;
    margin-top: 0.8rem;
    padding: 0 0.6rem;
    height: 2.2rem;
    width: 18rem;
}


.addvideo>form>button{
    margin-top: 1rem;
    width: 17.8rem;
    padding: 0.6rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(98, 98, 255);
    cursor: pointer;
}