.lib-main{
    padding: 4rem 6rem;
    /* display: flex; */
    background-color: #101314;
    min-height: 40rem;
}


.lib-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
}
.lib-top>h1{
    color: bisque;
    font-size: 3rem;
    letter-spacing: 2px;

}


.lib-bottom{
    margin: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.lib-bottom a{
    border: 1px solid gray;
    font-size: 2rem;
    text-decoration: none;
    color: bisque;
    padding: 1.2rem 2rem;
    margin: 1rem 1rem;
}
.lib-bottom a:hover{
    color: rgb(196, 255, 204);
}




@media screen and (max-width:1442px){
    .lib-main{
        padding: 4rem 5rem;
    }
}



@media screen and (max-width:1151px) {
    .lib-main{
        padding: 4rem 3rem;
    }

    .lib-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width:700px) {
    .lib-main{
        padding: 4rem 1rem;
    }
}



@media screen and (max-width:560px) {
    .lib-main{
        padding: 4rem 0.4rem;
    }
}


