.main{
    padding: 4rem 6rem;
    /* display: flex; */
    background-color: #101314;
    min-height: 40rem;
}


.top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
}
.top>h1{
    color: bisque;
    font-size: 3rem;
    letter-spacing: 2px;

}


.bottom{
    margin: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.bottom a{
    text-decoration: none;
    color: bisque;
    padding: 1rem 1rem;
}
.bottom a:hover{
    color: rgb(196, 255, 204);
}


.bottom-1{
    width: 22rem;
    /* background: #b406d6; */
    height: 13rem;
    margin: 2rem 0;
    margin-left: 2rem;
}



@media screen and (max-width:1442px){
    .main{
        padding: 4rem 5rem;
    }
    .bottom-1{
        width: 28rem;
        height: 18rem;
    }
}



@media screen and (max-width:1151px) {
    .main{
        padding: 4rem 3rem;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width:700px) {
    .main{
        padding: 4rem 1rem;
    }
}



@media screen and (max-width:560px) {
    .main{
        padding: 4rem 0.4rem;
    }
}


